/* globals.css */

/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
